<div style="float: right;"><a href="https://twitter.com/ChessbondDotCom" class="twitter-follow-button" data-show-count="false">Follow @ChessbondDotCom</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<br>
<br>

<style>
.footerheader{
	font-weight:bold;
	font-size:14px;
	margin-left: 24px;
}
.footerbodytext{
	font-size:14px;
margin-left: 24px;
}
.footersitemapsquare{
	background:#f4f4f4;
	border-right: 1px #cccccc;	
	border-right-style:solid;
	color:#474747;
	 flex:1;
	}

</style>
<div style="display:flex;flex-flow: row wrap;justify-content:center;">
	
<span class="footersitemapsquare">
<span class="footerheader"><a href="/aboutus">About us</a></span>

<div class="footerbodytext">
</div>
</span>
<span class="footersitemapsquare">
	<span class="footerheader"><a href="/termsofservice">Terms of service</a></span>
	<div class="footerbodytext">
</div>
</span>
	
<span class="footersitemapsquare">
	<span  class="footerheader"><a href="/privacypolicy">Privacy Policy</a></span>
	<div class="footerbodytext">
</div>
</span>
<span class="footersitemapsquare">
	<span class="footerheader"><a href="/sitemap">Site Map</a></span>
<div class="footerbodytext">

</div>
</span>
<span class="footersitemapsquare">
	<span class="footerheader"><a href="/contactus">Contact</a></span>
<div class="footerbodytext">

</div>
</span>
</div>
<div>
<div   style="display: flex; align-items: center; justify-content: center;">
<a href="/opentournament"><img  style="background-color:white; "
             src="/tournyred3.gif"></a>
</div>
<h2 style="width:100%;text-align:center;padding-left:5px;">
Chessbond.com 2014-2018. All rights reserved.
</h2>

</div>

 <div style="display:none" itemscope itemtype="http://schema.org/GameServer">
 <div  itemprop="game" itemscope itemtype="http://schema.org/VideoGame">Chess
 <div itemprop="gamePlatform">Web</div>
 <div itemprop="applicationCategory">Game</div>
  <div itemprop="playMode">2-player</div>
  <div itemprop="operatingSystem">Web</div>
 
 </div>

 
</div>
