<form ng-controller="PostMessageController" ng-submit="SendWallPost('<%- req.session.passport.user %>','<%- groupid %>','<%- msgtype %>','<%- address %>')">
	<input type="text" autocomplete="off" class="form-control" placeholder="post message" name="name" ng-model="WallPostInput"  required>
	<button class="btn btn-default btn-sm" type="submit" >Post Message</button>
</form>

