
 <div id="navbar"></div>
		

	<div id="albumpage"></div>
	
	 <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<script>var MyID='<%- req.session.passport.user %>'</script>
			<% }else{ %>
			<script>var MyID=''</script>
	
			<%}%>
			<% }else{ %>
    <script>var MyID=''</script>
			
    <%}%>
    
    <script>var ipadd='<%-req.ip%>'</script>
     
         <% if (req.param('ID')) { %>
	
    <script>var ProfID='<%-req.param('ID')%>'</script>
    <% }else{ %>
	<script>var ProfID=MyID</script>
    	
			
    <%}%>	
   
		
    
    


 
