   <% var Myid='0'%>
    <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<% Myid=req.session.passport.user;%>
			<% } %>
	<% } %>

    
 <%- include('partials/navbar',{userid:Myid,Myid:Myid}); %>
   
   <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<div ng-init="joinImOnlineRoom()"></div>
			<div ng-init="getuser('<%-req.session.passport.user%>')"></div>
   		<% } %>
	<% } %>
	<div style="margin-left:10%;margin:10%;white-space: pre-wrap;display:block;width: 69%;line-height: 2em;">
<h2>Contact us</h2>
You can write email to  us   contact@chessbond.com
We will respond you as soon as possible.
	</div>

