
     <div id="navbar"></div>
        <div id="textpage"></div>
    <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<script>var MyID='<%- req.session.passport.user %>'</script>
			<% }else{ %>
			<script>var MyID=''</script>
	
			<%}%>
			<% }else{ %>
			<script>var MyID=''</script>
			<%}%>
    <div style="margin-left:10%;margin:10%;white-space: pre-wrap;display:block;width: 69%;line-height: 2em;">
<h2>Contact us</h2>
You can write email to  us   contact@chessbond.com
We will respond you as soon as possible.
	</div>
	
