

    
      <% var Myid='0'%>
    <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<% Myid=req.session.passport.user;%>
			<% } %>
	<% } %>

    
 <%- include('partials/navbar',{userid:Myid,Myid:Myid}); %>
 
		<div class="jumbotron ">
		
	     <div class="row">
	     <div class="col-md-4">
			 </div>
         <div class="col-md-4 text-center">
	    <h1 >Chessbond</h1>
    

			 </div>
    
         <div class="col-md-4">
			 </div>
			 </div>
        
    
		 <div class="row">
        <div class="text-center col-md-12">
		<h2>Forgot Password</h2>
		</div>
        
        <div class="text-center col-md-12">
		<h3>Enter your new password for the account:</h3>	 
        </div>
        
        <div class="text-center  col-md-4">
		</div>
        <div class="text-center  col-md-4">
		 <form name="form" ng-submit="NewPassword('<%- req.param('code')  %>')" role="form">
		  <input type="text" name="address" id="address" class="form-control" ng-model="vm.password" required />
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Go</button>
        </div>
	
	    <div class="text-center  col-md-4">
	
			</div>
	      </div>
         <div class="col-md-4">
			 </div>
			 <hr>
			

    

