<video width="720" height="400" controls>
  <source src="go.mp4" type="video/mp4">

Your browser does not support the video tag.
</video>
<video width="720" height="400" controls>
  <source src="go1.mp4" type="video/mp4">

Your browser does not support the video tag.
</video>

<video width="720" height="400" controls>
  <source src="go2.mp4" type="video/mp4">

Your browser does not support the video tag.
</video>

<video width="720" height="400" controls>
  <source src="go3.mp4" type="video/mp4">

Your browser does not support the video tag.
</video>
<a href="go.mp4">down</a>