

        <div id="navbar"></div>
        <div id="justloggedinpage"></div>
        <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
			<script>var MyID='<%- req.session.passport.user %>'</script>
			<% }else{ %>
			<script>var MyID=''</script>
	
			<%}%>
			<% }else{ %>
    <script>var MyID=''</script>
			
    <%}%>
    
    
   
    

    
    <div style="float: right; font-family: arial;font-weight:bold;font-size:15px;color:#86BEE0;">
    <a href="https://www.positivessl.com" style=" float: right;font-family: arial; font-size: 10px; color: #212121; text-decoration: none;"><img src="https://www.positivessl.com/images-new/PositiveSSL_tl_trans.png" alt="SSL Certificate" title="SSL Certificate" border="0" /></a>
<a href="https://www.positivessl.com" style="color:#86BEE0; text-decoration: none;">SSL Certificate</a></div>
<br>
<br>
<br>
<br>
<br>

