<!DOCTYPE html>
<html>
  <head>
    <%- include partials/title.ejs %>
 <%- include partials/description.ejs %> 
   <%- include partials/keywords.ejs %> 
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/chessboard-0.3.0.css">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/results.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->


  </head>

  <body>
 <div id="navbar"></div>
		
 <% if (req.session.passport) { %>
			<% if (req.session.passport.user) { %>
				
				
				<script>var MyID='<%- req.session.passport.user %>'</script>
				<%}%>
	<div id="statspage"></div>
	
	
   
    
		
    
    

  </body>
</html>
